<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<footer id ="footer" class="bg-light text-center text-white">

        <div class="mb-2" id="redes">
    
          
            <!-- Facebook -->
            <a
              class="btn text-white btn-floating m-1"
              style="background-color: #3b5998;"
              href="https://www.facebook.com/LaboratorioSimulacionYModelado"
              target="_blank"
              role="button"
              ><i><fa-icon [icon]="faFacebook"></fa-icon></i
            ></a>
      
            <!-- Twitter -->
            <button
              class="btn text-white btn-floating m-1"
              style="background-color: #55acee;"
              href="https://twitter.com/GrupoLSyM"
              target="_blank"
              role="button"
              ><i><fa-icon [icon]="faTwitter"></fa-icon></i
            ></button>
      
            <!-- Linkedin -->
            <a
              class="btn text-white btn-floating m-1"
              style="background-color: #0082ca;"
              href="https://www.linkedin.com/company/lsym---laboratorio-de-simulaci%C3%B3n-y-modelado"
              target="_blank"
              role="button"
              ><i><fa-icon [icon]="faLinkedin"></fa-icon></i
            ></a>

            <!-- Youtube -->
            <a
              class="btn text-white btn-floating m-1"
              style="background-color: #a30303;"
              href="https://www.youtube.com/lsymsimulacion"
              target="_blank"
              role="button"
              ><i><fa-icon [icon]="faYoutube"></fa-icon></i
            ></a>

            
              </div>
    <!-- Copyright -->
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
      © 1991-2023 Copyright:
      <a class="text-white" href="https://lsymserver.uv.es" target="_blank">LSyM</a>, Laboratorio de Simulación y Moldelado.
    </div>
</footer>
    <!-- Copyright -->