<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

     <div class="row">
            <div class="col">
              <h2 class="text_subtitle"><span>{{ 'HEADER.SOBRE' | translate }}</span></h2>
              <hr>
            </div>
     </div>

     <div class="row">
        <p style="font-size: medium;">{{text1}}</p>
     </div>

     <div class="row">
      <p style="font-size: medium;">{{text2}}</p>
   </div>
   <div class="row">
      <div class="col">
        <img src="{{info.image}}" width="80%" height="100%">
      </div>

      <div class="col" style="align-items: center;">
        <p style="font-size: medium;">{{text3}}</p>
      </div>
   </div>
</div>
