<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

     <div class="row">
            <div class="col">
              <h2 class="text_subtitle"><span>{{ 'HEADER.SOBRE' | translate }}</span></h2>
              <hr>
            </div>
     </div>

     <div class="row">
        <p>{{info.text1_ES}}</p>
     </div>

     <div class="row">
      <p>{{info.text2_ES}}</p>
   </div>
   <div class="row">
      <div class="col">
        <img src="{{info.image}}" width="80%" height="100%">
      </div>

      <div class="col" style="align-items: center;">
        <p>{{info.text3_ES}}</p>
      </div>
   </div>
</div>
