
  <div id="space" class="container">
    <span hidden="true">{{selectedLanguage}}</span>
  <div class="row" style="margin-top: 35px;">
           <h2 class="text_subtitle">{{ 'DETALLE.LICENCIA' | translate }} {{title}}</h2>
           <hr>
  </div>

     <div class="row" style="margin-top: 35px;">
    <div  id="col" class="col">
      <img id="img" src="{{entidad.image}}">
    </div>

    <div class="col" style="margin-bottom: 35px;">
      <div class="row">
        <div class="lista">
          <ul>
             <li>Feature: {{featureName}}</li>
             <li>Version: {{featureVersionString}}</li>
             <hr>
          </ul>
       </div>
       <div class="col" style="margin-bottom: 35px;">
        <div class="row">
          <div class="lista">
            <p>Subfeatures</p>
            <hr>
            <tr>
            <td>
            <ul  style="font-family:Helvetica; font-size: medium; font-weight: normal; margin-bottom: 5px;" *ngFor="let item of subFeaturesActive">
               <li>{{item.name}}: <span style="color: green;" *ngIf="item.state; else noSub">Yes</span>
                <ng-template #noSub><span style="color: red;">No</span></ng-template>
              </li>
            </ul>
            </td>
            </tr>
         </div>
    </div>
    </div>
     </div>
  </div>


