
  <div id="space" class="container">
    <span hidden="true">{{selectedLanguage}}</span>
  <div class="row" style="margin-top: 35px;">
           <h2 class="text_subtitle">{{ 'DETALLE.LICENCIA' | translate }} {{title}}</h2>
           <hr>
  </div>

     <div class="row" style="margin-top: 35px;">
    <div  id="col" class="col">
      <img id="img" src="{{entidad.image}}">
    </div>

    <div class="col" style="margin-bottom: 35px;">
      <div class="row">
        <div class="lista">
          <ul>
             <li>Feature: {{featureName}}</li>
             <li>Version: {{featureVersionString}}</li>
             <hr>
          </ul>
       </div>
       <div class="col" style="margin-bottom: 35px;">
        <div class="row">
          <div class="lista">
            <p>Subfeatures</p>
            <hr>
            <tr>
            <td>
            <ul *ngFor="let item of subFeatures">
               <li>{{item}}: </li>
            </ul>
            </td>
            <td>
                <tr class="ul2" *ngFor="let state of states">
                    <p *ngIf="state; stateNo">YES</p>
                    <ng-template #stateNo>
                      
                    </ng-template>
                </tr>
            </td>
            </tr>
         </div>
    </div>
    </div>
     </div>
  </div>


