
  <div id="space" class="container">
    <span hidden="true">{{selectedLanguage}}</span>
  <div class="row" style="margin-top: 35px;">
           <h2 class="text_subtitle">{{ 'DETALLE.LICENCIA' | translate }} {{entidad.name}}</h2>
           <hr>
  </div>

     <div class="row" style="margin-top: 35px;">
    <div  id="col" class="col">
      <img id="img" src="{{entidad.image}}">
    </div>

    <div class="col" style="margin-bottom: 35px;">
      <div class="row">
        <div class="lista">
          <ul>
             <li>Plafaforma de Movimiento &nbsp; &nbsp; <i><fa-icon [icon]="faCheck" style="font-size:20px;margin-top: 5%;color:greenyellow"></fa-icon></i></li>
             <li>Vision 3D &nbsp; &nbsp;<i><fa-icon [icon]="faClose" style="font-size:20px;margin-top: 5%;color:red"></fa-icon></i></li>
             <li>Multiple Displays &nbsp; &nbsp; <i><fa-icon [icon]="faCheck" style="font-size:20px;margin-top: 5%;color:greenyellow"></fa-icon></i></li>
             <li>Bases Datos Usuarios &nbsp; &nbsp; <i><fa-icon [icon]="faCheck" style="font-size:20px;margin-top: 5%;color:greenyellow"></fa-icon></i></li>
          </ul>
       </div>
    </div>
    </div>
     </div>
  </div>


