@import "~@fortawesome/fontawesome-free/css/all.css";

html, body { height: 100%; width: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background-image: url("assets/images/fondo_app.png");
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  background-color: #ffffff;

}
