<div class="container" fxLayout="column" fxLayoutGap="10px">
    <div class="row">
      <div class="col">
        <h2 class="text_subtitle"><span>{{ 'NOTICIAS.NOTICIAS' | translate }}</span></h2>
        <hr>
      </div>
      
      <div>
        <div *ngFor="let news of news_list; let i = index" class="news">
          <div class="linea">
            <h3 class="text_subtitle" style="display: inline">ID: </h3>{{ i + 1 }}</div>
          <div class="linea">
            <h3 class="text_subtitle" style="display: inline">{{ 'COMUN.FECHA' | translate }}: </h3>{{ news.published_date }}</div>
          <div class="linea">
            <h3 class="text_subtitle" style="display: inline">{{ 'COMUN.TIPO' | translate }}: </h3>{{ news.type.charAt(0).toUpperCase() + news.type.slice(1) }}</div>
          <div class="linea">
            <h3 class="text_subtitle" style="display: inline">{{ 'NOTICIAS.NOTICIA' | translate }}: </h3>{{ news.news }}</div>
          <br><hr><br>
        </div>
    </div>
    </div>
    
  </div>
  
  
  