
<div class="container">
<div class="row">
<div class="col-md-3">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title class="title">{{noticia.titleES}}</mat-card-title>
            
        </mat-card-header>
        <img mat-card-image src={{noticia.image}} alt="image_news" clas="image">
        <mat-card-content>
        <p class="text">
            {{noticia.textES}}
        </p>
        </mat-card-content>
        <mat-card-subtitle class="fecha">05-06-2023</mat-card-subtitle>
    </mat-card>
</div>

<div class="col-md-3">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title class="title">{{noticia.titleES}}</mat-card-title>
            
        </mat-card-header>
        <img mat-card-image src={{noticia.image}} alt="image_news" clas="image">
        <mat-card-content>
        <p class="text">
            {{noticia.textES}}
        </p>
        </mat-card-content>
        <mat-card-subtitle class="fecha">05-06-2023</mat-card-subtitle>
    </mat-card>
</div>

<div class="col-md-3">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title class="title">{{noticia.titleES}}</mat-card-title>
            
        </mat-card-header>
        <img mat-card-image src={{noticia.image}} alt="image_news" clas="image">
        <mat-card-content>
        <p class="text">
            {{noticia.textES}}
        </p>
        </mat-card-content>
        <mat-card-subtitle class="fecha">05-06-2023</mat-card-subtitle>
    </mat-card>
</div>
</div>
</div>
